/* CSS HEX */
:root {
    --waikawa-gray-50: #f2f7fb;
    --waikawa-gray-100: #e7f0f8;
    --waikawa-gray-200: #d3e2f2;
    --waikawa-gray-300: #b9cfe8;
    --waikawa-gray-400: #9cb6dd;
    --waikawa-gray-500: #839dd1;
    --waikawa-gray-600: #6a7fc1;
    --waikawa-gray-700: #6374ae;
    --waikawa-gray-800: #4a5989;
    --waikawa-gray-900: #414e6e;
    --waikawa-gray-950: #262c40;

    font-family: Arial, Helvetica, sans-serif; 
}
/* :root is not an element on the page - a syntax to say in the document but not tied
to an element */

* {
    margin: 0; 
}
/* no gap around flex-xontianers*/
body {
    display: flex; 
    flex-direction: column; 
    background-color: var(--waikawa-gray-500);
    justify-content: center; 
    align-items: center; 
}

header {
    background-color: var(--waikawa-gray-600); 
    height: 10dvh; 
    /*10% of the viewports height. e.g., if the viewport height is 1000pc then setting
    an element height of 10dvh = 100px (10% of 1000px)*/
    width: 100vw; 
    /*100vw covers the fills out the wifht of the page*/
    text-align: center; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    /* push them to the center of the container*/
}

nav > a {
    text-decoration: none;
    /* gets rid of the underline oon links*/
    background-color: var(--waikawa-gray-800); 
    color: white; 
    padding: 0.25em; 
    border-radius: 0.5em; 
}

nav > a:hover {
    background-color: var(--waikawa-gray-300); 
    /* changes colout of button when cursor hovers over them*/
}

main {
    min-height: 85dvh; 
    /* 10 + 5 = 15 , 100 - 15 = 85dvh - always want it to add up to 100dvh
    to fill out the screen
    min-height (we are basically saying at a minium, at the shortest height 
    we want it to fill out the screen*/
    width: 100vw; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

main > img {
    height: 30dvh; 
    width: auto; 
    margin: 2em; 
    /* sets the margin 2 times the current font size*/
    background-color: var(--waikawa-gray-950); 
    color:#414e6e; 
    /* purpose of adding color is to show where the image will be before
    adding image*/ 
    object-fit: cover;
    /* used to stop image from distorting - when page is stretched 
    the image will stay focused*/
}

main > * {
    margin: 0.5em; 
}

main > p {
    text-align: center; 
}

footer {
    background-color: var(--waikawa-gray-600); 
    height: 5dvh; 
    width: 100vw; 
    text-align: center; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}